<!doctype HTML>
<html>

<head>
    <!-- Boostrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- CSS -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <style>
        body {
            background: url("https://shortysplacediner.com/wp-content/uploads/2017/10/burger-background-flip.jpg") no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

        * {
            box-sizing: border-box;
        }

        h2 {
            border-bottom: 2px solid black;
            padding: 0.2em;
        }

        .burger-box {
            margin-bottom: 0.5em;
        }

        .burger-name {
            font-size: 1.2em;
        }

        .eat-burger {
            margin-left: 1em;
        }

        .eat-burger:hover {
            color: blue
        }

        #burger-header,
        #to-eat-sec,
        #add-burger-sec,
        #eaten-sec {
            background-color: rgba(255, 255, 255, 0.7);
            padding: 1em;
            border: 4px solid black;
            border-radius: 0.3em;
        }

        #to-eat-sec,
        #add-burger-sec,
        #eaten-sec {
            margin: auto;
            margin-top: 1em;
        }

        #to-eat-sec,
        #eaten-sec {
            overflow: hidden scroll;
        }

        #to-eat-sec,
        #eaten-sec {
            height: 25em;
        }
    </style>
    <title>Burger I'd Like To Eat</title>
</head>

<body>
    <div class="container">
        {{{ body }}}
    </div>



    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <!-- AJAX -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <!-- Bootstrap Javascript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <!-- Javascript -->
    <script>
        $(".eat-burger").on("click", function () {
            let id = $(this).data("id");
            let devoured = {
                devoured: 1
            };
            $.ajax("/api/burgers/" + id, {
                type: "PUT",
                data: devoured
            }).then(function () {
                location.reload();
            });
        })
        $("#add-burger").on("click", function () {
            var newBurger = {
                name: $("#burger-add-form").val().trim(),
                devoured: 0
            };
            $.ajax("/api/burgers", {
                type: "POST",
                data: newBurger
            }).then(function () {
                location.reload();
            })
        })
    </script>

</body>

</html>