<div class="row">
    <div class="page-header">
        <h1> Burger I'd Like To Eat </h1>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h1> Burgers to Eat </h1>
        <ul>
            {{#each burgers}}
            {{#unless devoured}}
            {{this.burger_name}}
            <br>
            {{/unless}}
            {{/each}}
        </ul>
    </div>
</div>